<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Vim Scripts: {{ page.title }}</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="/css/960gs.css"/>
    {% if page.rss %}
      <link href="{{ page.rss }}" rel="alternate" title="{{ page.rsstitle }}" type="application/atom+xml" />
    {% endif %}
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.11.custom.min.js"></script>
    <script>
      $(function() {
        $("#scripts").autocomplete({
          minLength: 2,
          select: function(ev,ui) { $(window.location).attr('href', "http://github.com/vim-scripts/" + ui.item.value); }
        });
        // load the script names after the user focuses the search box
        $("#scripts").bind("focus.scripts", function(ev,ui) {
          scripts = $(this);
          scripts.unbind("focus.scripts"); // don't hammer the server
          $.getJSON('/api/scripts.json', function(data) {
            scripts.autocomplete("option", "source", data);
            // if the ajax call fails, should we re-bind the focus listener to try again?
          });
        });
      });
    </script>
  </head>

  <body id='{{ page.title | strip_html | downcase | replace(' ', '_') }}'>
    <div id='header' class="container_12">
      <!-- disable type-in completion for now
        <input type="text" name="scripts" id="scripts" /> -->
      <div class="grid_10 prefix_1 suffix_1">
        <h2 > <a href='/index.html'><span>Vim</span>-Scripts.org</a>
        </h2>
      </div>
    </div>
    <div class="container_12">
      <div id='menu' class="grid_10 prefix_1 suffix_1">
        <ol class='toc'>
          <li><a href='/index.html'>About</a></li>
          <li><a href='/vim/news.html'>News</a></li>
          <li><a href='/vim/faq.html'>FAQ</a></li>
          <li><a href='/vim/tools.html'>Tools</a></li>
          <li><a href='/vim/support.html'>Support</a></li>
          <li class="allscripts"><a href='/vim/scripts.html' >Scripts</a></li>
          <li><a href='http://github.com/vim-scripts'>GitHub</a></li>
        </ol>
      </div>
    </div>
    <div id="content" class="container_12">
      <div class="grid_10 prefix_1 suffix_1">
        {% if page.no_title != true %}
        <h1> {{ page.title }} </h1>
        {% endif %}
        {{ content }}
      </div>
    </div>
    <div class="container_12">
      <div id='comments' class="grid_10 prefix_1 suffix_1">
        <p>&nbsp;</p>
        {% if page.comments %}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_shortname = 'vimscripts';
            var disqus_identifier = '{{ page.url }}';
            var disqus_url = 'http://vim-scripts.org{{ page.url }}';
            var disqus_title = '{{ page.title | escape | replace: "'", "\\'" }}';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </div>
    </div>
  </body>
</html>
