---
layout: default
---

<div class="grid_5 alpha">
  {{ content }}
</div>

<div id="news" class="grid_5 omega" >
 <h1><a href="/vim/news.html">Recent News</a></h1>
 {% for post in site.categories.news offset: 0 limit: 3 %}
<div class="post">
 <h4 class="title">
  <a href="{{ post.url }}">{{ post.title }}</a>
 </h4>
 <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">comments</a>
 <p class="content">
  <span class="date">{{ post.date | date_to_string }}</span>
  {{ post.content | strip_html | truncatewords: 25 }}
  <a href="{{ post.url }}">→more</a>
 </p>
</div>
 {% endfor %}
</div>

<script type="text/javascript">
  var disqus_shortname = 'vimscripts';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
